.output_container {
    flex-grow: 1;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 30%;
    background-color: #282a36;
    color: #f8f8f2;
    padding: 1rem;
    border-top: 1px solid #44475a;
  }
  
  .output {
    white-space: pre-wrap;
    word-wrap: break-word;
    width: 100%;
  }
  