.output_container {
  position: relative;
  width: 96%;
  background-color: #282a36;
  color: #f8f8f2;
  padding-left: 3rem;
  padding-top: 1rem;
  border-top: 1px solid #44475a;
  overflow: hidden;  
  /* min-height: 100px; */
}



.output {
  white-space: pre-wrap;
  word-wrap: break-word;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.resizer {
  height: 5px;
  background-color: #44475a;
  cursor: ns-resize; /* North-South resize cursor */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
